.home {
  width: 100%;
  top: 70px;
  box-sizing: border-box;
}
.home img {
  position: relative;
  width: 100%;
  top: 60px;
  left: 0;
  z-index: 1;
}
.blur {
  position: absolute;
  top: -70px;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(200, 199, 255, 0.247);
  overflow: hidden;
}
@media screen and (max-width:320px) {
  .blur{
    height: 53%;
  }
}
@media screen and (min-width:321px) and (max-width:375px) {
  .blur{
    height: 60%;
  }
}
@media screen and (min-width:376px) and (max-width:425px) {
  .blur{
    height: 65%;
  }
}
@media screen and (min-width:426px) and (max-width:768px) {
  .blur{
    height: 100%;
  }
}
@media screen and (min-width:769px) and (max-width:1024px) {
  .blur{
    height: 125%;
  }
}
@media screen and (min-width:1025px) and (max-width:1440px) {
  .blur{
    height: 117%;
  }
}
@media screen and (min-width:1441px) and (max-width:2560px) {
  .blur{
    height: 110%;
  }
}