.programacao {
    max-width: 350px;
    margin: 70px auto;
}

.programacao h2 {
    margin: 1rem;
    font-size: 3ch;
}

.programacao h3 {
    margin: 0.5rem;
}

.cultos{
    display: flex;
    justify-content: space-between;
}