@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
:root {
  --ivcd-gold: #ab8a00;
  --ivcd-dark-blue: #03008e;
  --ivcd-light-blue: #d0cfff;
  --ivcd-yellow: #f5c709;
  --ivcd-title-yellow: #ffcf0a;
  --ivcd-gray: #d9d9d9;
  --ivcd-light-gray: #f0eeee;
  --ivcd-white: #ffffff;
  --ivcd-black: #000000;
  font-family: "EB Garamond", serif;
}

.app {
  background-color: var(--ivcd-light-blue);
  color: var(--ivcd-gold);
  width: 100vw;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

.title-ivcd {
  font-size: 22px;
  color: var(--ivcd-title-yellow);
}

@media (prefers-color-scheme: dark) {
  .app {
    background-color: var(--ivcd-black);
    color: var(--ivcd-white);
  }
}
