@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --background-color:  rgba(255, 255, 255);
  --black-color: rgba(0,0,0,);
  --gray-color-1: rgba(167,173,175,1);
  font-family: "Rubik", sans-serif;
  color-scheme: light;
  color: var(--black-color);
  background-color:var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}
